.App {
  text-align: center;
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.Charts {
  margin-top: 30px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.Charts svg{
  margin-top: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 100%;
}

.list > li {
  padding: 15px 0;
  margin-top: 30px;
  flex-basis: 15vw;
}

.mapItem:hover{
  cursor: pointer;
}

.mapItem:hover{
  fill: rgba(30, 217, 230, 0.616);
}